<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="dataAccessFactoryConfiguration" type="Bay.ERP.DataAccess.Configuration.ConfigurationSectionHandler, Bay.ERP.IDataAccess, Version=1.0.0.0, Culture=neutral"/>
    <section name="UnhandledException" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webRoot" value="http://Localhost:7777"/>
    <add key="AlertInterval" value="3000"/>
    <add key="defaultPageTitle" value="ERP"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ProjectRoot" value="D:\raju\source\ERP\Source\Bay.ERP.WebUI\" />
    <add key="DMSUserFiles" value="Upload\DMS\Document\" />
  </appSettings>
  <connectionStrings>
    <add name="ETCON" connectionString="Data Source=BADRU;Initial Catalog=ERP_NEW_FAT;user id=sa;password=Root@pass1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="ETCON"/>
  <dataAccessFactoryConfiguration>
    <DataAccessFactory typeName="Bay.ERP.DataAccess.DataAccessFactory" assemblyName="Bay.ERP.DataAccess, Version=1.0.0.0, Culture=neutral"/>
  </dataAccessFactoryConfiguration>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
      <httpRuntime maxRequestLength="512000" />
      <machineKey validationKey="76119BFD7F972E1829A44EF46A10DE8D7B2ECA40A8D5466E8E263B4F0E7454686F11C90BE78C8EBD3DBA4D419901F2DBA0634AEBB09368F2F8327EDD18CB5920" decryptionKey="861741AFD2A1B1397E9EFFEA9564BECD9B6050FCE1233AA89C0150053DCA54D2" validation="SHA1"/>
    <authorization>
      <deny users="?"/>
      <allow roles="Admin"/>
      <allow roles="SiteUser"/>
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
       <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ETCON" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"  passwordFormat="Encrypted"/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ETCON" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<profile>
        <providers>
            <clear/>
            <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
          </providers>
        </profile>-->
    <pages theme="Default">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="kti" namespace="Bay.ERP.Web.UI"/>
      </controls>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <siteMap defaultProvider="defaultSiteMapProvider" enabled="true">
      <providers>
        <add name="defaultSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/default.sitemap" securityTrimmingEnabled="true"/>
        <add name="siteSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/site.sitemap" securityTrimmingEnabled="true"/>
        <add name="qlSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/ql.sitemap"/>
        <add name="employeeSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Employee.sitemap"/>
        <add name="supplierSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Supplier.sitemap"/>
        <add name="opeartorSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Operator.sitemap"/>
        <add name="consultantSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Consultant.sitemap"/>
        <add name="contractorSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Contractor.sitemap"/>
        <add name="projectSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Project.sitemap"/>
        <add name="issueSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Issue.sitemap"/>
        <add name="MasterNavigationMenuSitemapProviderDB" type="Bay.ERP.Provider.ASSiteMapProvider" ASSiteMapID="1"/>
      </providers>
    </siteMap>
    <sessionState timeout="1440"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.net>
    <mailSettings>
      <smtp from="erp@baydevelopments.com">
        <network host="mail.baydevelopments.com" password="b@y.1212"
          userName="ERP System" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>